/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 48, ../sass/screen.scss */
.background {
  background-image: url("../images/solomon.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 65, ../sass/screen.scss */
html {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  min-height: 26rem;
}
@media all and (min-width: 32em) {
  /* line 65, ../sass/screen.scss */
  html {
    min-height: 30rem;
  }
}
@media all and (min-width: 40em) {
  /* line 65, ../sass/screen.scss */
  html {
    min-height: 35rem;
  }
}

/* line 84, ../sass/screen.scss */
h1 {
  font-size: 1.5rem;
  text-shadow: black 0 0 .25rem;
  margin-top: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media all and (min-height: 30em) {
  /* line 84, ../sass/screen.scss */
  h1 {
    margin-top: 8rem;
  }
}
/* line 96, ../sass/screen.scss */
h1 span {
  display: block;
}
@media all and (min-width: 25em) {
  /* line 84, ../sass/screen.scss */
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media all and (min-width: 32em) {
  /* line 84, ../sass/screen.scss */
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}
@media all and (min-width: 40em) {
  /* line 84, ../sass/screen.scss */
  h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-shadow: black 0 0 .75rem;
  }
}
@media all and (min-width: 50em) {
  /* line 84, ../sass/screen.scss */
  h1 {
    font-size: 4rem;
  }
}

/* line 117, ../sass/screen.scss */
h2 {
  color: #2f67a6;
  max-width: 46rem;
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}
@media all and (min-width: 30em) {
  /* line 117, ../sass/screen.scss */
  h2 {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
@media all and (min-width: 40em) {
  /* line 117, ../sass/screen.scss */
  h2 {
    padding: 3rem;
    font-size: 2rem;
  }
}
/* line 134, ../sass/screen.scss */
h2:after {
  display: table;
  content: "";
  clear: both;
}

/* line 140, ../sass/screen.scss */
.main-wrapper {
  padding: 1rem;
}

/* line 144, ../sass/screen.scss */
.countdown_amount {
  font-family: arial, helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

/* line 149, ../sass/screen.scss */
.hasCountdown {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 154, ../sass/screen.scss */
.hasCountdown span {
  display: block;
}

/* line 157, ../sass/screen.scss */
footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-shadow: black 0 0 .25rem;
}

/* line 164, ../sass/screen.scss */
a {
  color: white;
  text-decoration: none;
  border-bottom: 1px #d7d7d7 dotted;
  display: inline-block;
  padding: .125rem;
  border-radius: 1px;
  transition: all .5s;
}
/* line 173, ../sass/screen.scss */
a:hover {
  background-color: white;
  color: black;
  text-shadow: black 0 0 0;
}
